/*--BETTER WITH YOGURT STYLES---*/

/*--fonts--*/

/*open sans*/
/*font-family: 'Open Sans', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);

/*raleway*/
/*font-family: 'Raleway', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

/*lato*/
/*font-family: 'Lato', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/*--helper classes--*/
.left{float:left;}
.right{float:right;}
.inline{display: inline-block; vertical-align: middle;}
.inline-top{display: inline-block; vertical-align: top;}
.inline-bottom{display: inline-block; vertical-align: bottom;}
.center{text-align: center;}

/*---arrows--*/
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
	border-top: 10px solid #a3bbdd;
	display: inline-block;
    vertical-align: middle;
}

.arrow-down-gray {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #646464;
	display: inline-block;
    vertical-align: middle;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;	
	border-left: 7px solid #fff;;
	display: inline-block;
    vertical-align: middle;
}


/*--font colors--*/
.blue-font{color:#5f89c4;}
.gray{color:#646464;}


/*--bg colors--*/
.light-blue-bg{background-color:#e7edf6;}

/*--container clases--*/
.container{width:100%;}
.inner{width:980px; margin:0 auto;}

.inner-padded{width:980px; margin:0 auto; padding:5em 0;}

/*--header--*/
header{position:relative; background-image: url(../img/header-bg.jpg); background-repeat: repeat-x; height:110px;}
.logo{display: block; }

/*--nav--*/
nav{width: 800px; float: right; height: 61px;}
.main-nav{list-style-type: none; width:470px; padding:0; display: inline-block; vertical-align: middle;}
.main-nav li{display: inline-block; }
.main-nav li a{text-decoration: none; font-family: 'Raleway', sans-serif; font-size: 1em; margin-right:40px; color:#5f89c4;}
.main-nav li:last-of-type a{margin-right:0;}

/*--soc media top-*/
.soc-top{width:210px; display: inline-block; vertical-align: middle; text-align: right;}
.soc-top a{text-decoration: none; font-size: 2em; color:#d91b5c; display: inline-block;  margin: 0 0 0 6px;}

/*--user drop down--*/
.user-dd{display:inline-block; vertical-align:middle; margin-left: 55px; position:relative; cursor:pointer;}
.user-dd .icon-user{color:#a3bbdd; font-size: 2em; display: inline-block; vertical-align: middle;}

/*search bar*/
.search-cont{width: 800px; float: right; height: 31px; padding:10px 0;}
.everything-filter{font-family: 'Raleway', sans-serif; color:#646464; font-size: 1.1em; cursor:pointer; display: inline-block; vertical-align: middle;}
.search-form{display: inline-block; vertical-align: middle; width:665px; margin-left: 25px;}
.search-form input[type="search"]{border:none; border-bottom: 1px solid #afc4e1; width: 621px; padding-bottom: 2px; outline:none; font-family: 'Open Sans', sans-serif; color:#646464; font-size: 1.1em;}

.search-form ::-webkit-input-placeholder { /* WebKit browsers */color:    #999;font-size: 1.1em;display:block;}
.search-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #999;font-size: 1.1em;}
.search-form ::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #999;font-size: 1.1em;}
.search-form :-ms-input-placeholder { /* Internet Explorer 10+ */color:    #999;font-size: 1.1em;}

.search-btn{background-color:transparent; border:none; display: inline-block; vertical-align: middle;	}


/*--footer--*/
footer{background-color:#e6e7e8;}
.footer-inner{width:980px; margin:0 auto; padding:2em 0; border-bottom: 2px solid #f5ee31;}
.footer-logo{float:left;}

.links-cont{float:right; width:785px;}
.links-cont h3{font-family: 'Raleway', sans-serif; font-weight: normal; color:#4c4c4c; margin:0 0 5px 0; font-size: 1.4em;}

.quick-links{width:260px; display: inline-block; vertical-align: top; margin-right:15px;}
.quick-links ul{margin-top:0; margin-bottom:0; list-style-type: none; padding: 0 0 0 15px;}
.quick-links ul li{text-indent: -5px;}
.quick-links ul li:before{ content:"-"; position:relative; left:-5px;}
.quick-links ul li a{text-decoration: none; color:#6d6e71; font-size: .9em;}
.quick-links ul li a:hover{text-decoration: underline;}

.follow-us{width:205px; display: inline-block; vertical-align: top; margin-right:15px;}
.follow-us span{width:100px; display: inline-block; vertical-align: middle; font-size: .9em; font-family: 'Lato', sans-serif; font-weight: 300; margin:5px 0;}
.follow-us span a{text-decoration: none; color:#6d6e71;} 
.follow-us span a:hover{text-decoration: underline;}
/*--news letter--*/
.news-letter{width:277px; display: inline-block; vertical-align: top;}
.news-letter input[type="text"]{border: none; background-color: rgba(46, 49, 49, 0.3); color:#4c4c4c; font-family: 'Lato', sans-serif; font-weight: 300; display: block; width: 92%;padding: 8px;}
.news-letter-sign-up{background-color: transparent; border:1px solid #4c4c4c; color:#939598; display: block; border-radius: 2px; width: 120px; text-align: center; padding:10px; margin-top:20px;}

/*--placeholder styles--*/
.news-letter ::-webkit-input-placeholder { /* WebKit browsers */color:#4c4c4c; font-size: 1.1em; display:block; font-family: 'Lato', sans-serif; font-weight: 300;}
.news-letter :-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#4c4c4c; font-size: 1.1em; font-family: 'Lato', sans-serif; font-weight: 300;}
.news-letter ::-moz-placeholder { /* Mozilla Firefox 19+ */color:#4c4c4c; font-size: 1.1em; font-family: 'Lato', sans-serif; font-weight: 300;}
.news-letter :-ms-input-placeholder { /* Internet Explorer 10+ */color:#4c4c4c; font-size: 1.1em; font-family: 'Lato', sans-serif; font-weight: 300;}

/*--footer nav--*/
.footer-bottom{padding:25px 0; color:#4c4c4c; font-family: arial, helvetica, sans-serif; font-size: .7em;}
.footer-nav{list-style-type: none; margin:0; padding:0;}
.footer-nav li{display: inline-block; vertical-align: middle;}
.footer-nav li a{text-decoration: none; color:#4c4c4c; font-family: arial, helvetica, sans-serif; font-size: .7em;}
.footer-nav li a:hover{text-decoration:underline;}
.site-links a{text-decoration: none; color:#4c4c4c;}

/*--content areas--*/
.home-mast{background-image: url(../img/header-img-home.jpg); background-size:100%; height:343px; background-repeat:no-repeat;}
.home-mast h1{font-family: 'Raleway', sans-serif; color:#fff; font-size: 2.75em; margin: 0; clear: both; padding-top: 2rem;}
.learn-why-btn{display: block; border:1px solid #fff; text-decoration: none; width: 147px; padding:15px 0; text-align: center; color:#fff; font-family: arial, helvetica, sans-serif; font-size: 1.3em; margin-top:27px; border-radius:2px;}
.cta{background-color: rgba(0, 0, 0, 0.5); width: 340px; padding: 8px 30px; position:relative; right:10px; position: absolute;
right: 194px; top: 386px; color:#fff; }
.cta p{font-family: 'Raleway', sans-serif; font-size: 1.3em; margin:0;}
.cta p a{text-decoration: none; color:#fff;}

/*--home modules--*/
.home-module{width:323px; display: inline-block; vertical-align: top; font-family: 'Open Sans', sans-serif;}
.home-module p{color:#4c4c4c; font-size: 1.3em; height:100px; width:280px; letter-spacing: 1px;}
.module-btns{text-decoration:none; background-color:#d91b5c; color:#fff; font-family: 'Open Sans', sans-serif; font-style: italic; font-size: 1.4em; border-radius:2px; width:145px; display: inline-block; padding:15px 10px; text-align: center;}

.calling-all-foodies{padding: 21.8% 0; background-image: url(../img/calling-all-foodies-bg.jpg); background-repeat: no-repeat; background-size: cover;}
.enter-now{display: block; border:1px solid #7599cc; text-decoration: none; width: 147px; padding:15px 0; text-align: center; color:#7599cc; font-family: arial, helvetica, sans-serif; font-size: 1.3em; margin-top:27px; border-radius:2px;}

.soc-pages{background-color:#e7edf6; color:#5f89c4; padding:35px 0;}
.soc-pages .icon-facebook{font-size:4em;}
.soc-pages h3{font-family: 'Raleway', sans-serif; font-weight: normal; font-size: 1.3em; margin-top:0;}
.soc-pages p{width:650px; letter-spacing: 1px; margin:0 auto;  font-family: 'Open Sans', sans-serif; font-size: 1.4em;}


/*--recent-recipes--*/
.recent-recipe-cont{padding:1em 0 3em 0;}
.recent-recipes{}
.recent-recipes h2{font-family: 'Raleway', sans-serif; font-weight:300; font-size: 3em; padding:0 .5em;}
.recent-recipe{display: block; float:left; margin:0 0 0 12px; position: relative; }
.recent-recipe-info{position: absolute; top: 70px; color:#fff; z-index: 3;  font-family: 'Raleway', sans-serif; width:100%;}
.recent-recipe-info p{font-size: 1.3em; text-align: center;}
.recipe-nums{width:150px; border-radius: 25px; display: block; margin:0 auto; border:1px solid #fff; text-align: center; padding:10px 0; color:#fff; text-decoration: none;}

.recipe-nums:hover{text-decoration: underline;}

/*--recipe page--*/
.recipe-mast{background-image: url(../img/recipe-slide-img.jpg); background-size:100%; height:343px; background-repeat:no-repeat;}
.recipe-desc-cont{width:300px; height:165px; background-color: rgba(255, 255, 255, 0.3); margin-top:28px; padding:60px 15px;}
.recipe-desc-cont h1{font-family: 'Raleway', sans-serif; font-weight:300; margin: 0 0 25px 0; color:#8c8c8c; font-size: 1.7em;}

.rating{}
.rating .heart{color:#5f89c4; display: inline-block; vertical-align: middle;}
.rating span{font-family: 'Raleway', sans-serif; font-weight:300; color:#4c4c4c; font-size: .8em;}
.rating span:last-of-type{font-family: 'Open Sans', sans-serif;}

.rating-soc a{text-decoration: none; font-size: 2em; color:#d91b5c; display: inline-block;  margin: 50px 0 0 6px;}
.recipe-top{border-bottom:1px solid #dbdbdb; padding-bottom:10px}
.recipe-top h3{width:560px; float:left; font-family:'Open Sans', sans-serif; color:#8c8c8c; font-weight:400; letter-spacing: 1px; font-size: 1.9em;}
.email-print-save{list-style-type: none; padding: 0; float: right;}
.email-print-save li{display: inline-block; vertical-align: middle; text-align: center; color:#8c8c8c;  font-family:'Open Sans', sans-serif; font-size: 1.3em; border-left:1px solid #dbdbdb; padding: 50px 30px;}
.email-print-save i{display: block; font-size: 3em; color:#5f89c4; cursor: pointer;}
